{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main landing" role="main">
        <div class="landing-analys">
            {{ content }}
            <div class="report-grid">
                <div class="box colors">
                    <a href="{{ base_url }}/analysis/01_colors">
                        <h2>Färgval och känsla</h2>
                    </a>
                </div>
                <div class="box load">
                    <a href="{{ base_url }}/analysis/02_load">
                        <h2>Laddningstider</h2>
                    </a>
                </div>
                <div class="box design">
                    <a href="{{ base_url }}/analysis/03_design_principles">
                        <h2>Designprinciper</h2>
                    </a>
                </div>
                <div class="box analys">
                    <a href="{{ base_url }}/analysis/10_webbplatsdesign">
                        <h2>Analys av aktuell webbplatsdesign(kmom10)</h2>
                    </a>
                </div>
                <div class="box webplats">
                    <a href="{{ base_url }}/analysis/11_design-och-webbplatser">
                        <h2>Analys av min webbplats(kmom10)</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>